.contactBody{
    text-align: left;
    color: #0d8e3b;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    font-size: 20px;
}
a {
    color: #0d8e3b;
    padding-right: 30px;
}
